<div class="row">
    <div class='col-sm-12'>
        <h1 class='title-md hr text-center text-uppercase'>
          <%= t('salidas.show.title_bodega') + ": #{padded_zeros_numero_entrada(@salida_bodega.numero_salida)}" %>
        </h1>
    </div>
</div>

<div class="row mt-20 mb-30">
    <div class="col-sm-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-shop" role="tablist">
            <li class="active">
                <a href="#specifications" role="tab" data-toggle="tab">Información Salida</a>
            </li>           
        </ul>
        <!-- Tab panes -->
        <div class="tab-content tab-content-shop">
            <div class="tab-pane fade in active tab-shop-item" id="specifications">
                <%= render 'link_options_show', salida_bodega: @salida_bodega %>
                <table class="table table-striped">
                    <tbody>        
                        <tr>
                            <td><strong><%= t('salidas.number_exit_client') %></strong></td>
                            <td><%= padded_zeros_numero_entrada(@salida_bodega.numero_salida_cliente) %></td>
                        </tr>
                        <tr>
                            <td><strong><%= t('clients.client.legal_representative') %></strong></td>
                            <td><%= @salida_bodega.client.legal_representative %></td>
                        </tr>
                        <tr>
                            <td><strong><%= t('partidas.partida.tipo_cafe') %></strong></td>
                            <td><%= @salida_bodega.tipo_cafe %></td>
                        </tr>
                        <tr>
                            <td><strong><%= t('salidas.name_driver') %></strong></td>
                            <td><%= @salida_bodega.name_driver %></td>
                        </tr>
                        <tr>
                            <td><strong><%= t('salidas.name_person') %></strong></td>
                            <td><%= @salida_bodega.name_person %></td>
                        </tr>
                        <tr>
                            <td><strong><%= t('salidas.total_sacos') %></strong></td>
                            <td><%= @salida_bodega.total_sacos %> Sacos</td>
                        </tr>
                        <tr>
                            <td><strong><%= t('salidas.total_bolsas') %></strong></td>
                            <td><%= @salida_bodega.total_bolsas %> Bolsas</td>
                        </tr>
                        <tr>
                            <td><strong><%= t('salidas.total_kilogramos_netos') %></strong></td>
                            <td><%= number_with_precision(@salida_bodega.total_kilogramos_netos, precision: 2) %> Kilogramos Netos</td>
                        </tr>
                        <tr>
                            <td><strong><%= t('salidas.observaciones') %></strong></td>
                            <td><%= @salida_bodega.observaciones %></td>
                        </tr>
                        <tr>
                            <td><strong><%=  t('salidas.created_at') %></strong></td>
                            <td><%= l(@salida_bodega.created_at, format: :medium) %></td>
                        </tr>                                      
                    </tbody>
                </table>
                <%= render "salidas/salida_detail", salida: @salida_bodega %>
            </div>            
        </div>
    </div>
</div>