<%= simple_form_for line_item_salida, url: line_item_salidas_path(partida_id: partida), 
  remote: true, html: { class: 'form-horizontal' } do |f| %>

  <%= f.error_notification %>

  <%= f.input :total_sacos  %>    
  <%= f.input :total_bolsas %>    
  <%= f.input :total_kilogramos_netos %>    

  <div class="col-sm-3" style = "display: none">
    <div class="icon-box bg">      
      <%= image_tag "costal_cafe_big.jpg", alt: 'costal_cafe' %>
    </div>
  </div>

  <%= button_tag(type: :submit, class: 'btn btn-green btn-ghost add-to-cart') do %>
    <i class="fa fa-send" aria-hidden="true"></i> 
    Enviar a Proceso
  <% end %>
    
<% end %>