<%= form_for(partida) do |f| %>
  <% if partida.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(partida.errors.count, "error") %> prohibited this partida from being saved:</h2>

      <ul>
      <% partida.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :entrada_id %>
    <%= f.text_field :entrada_id %>
  </div>

  <div class="field">
    <%= f.label :kilogramosBrutos %>
    <%= f.text_field :kilogramosBrutos %>
  </div>

  <div class="field">
    <%= f.label :numeroBultos %>
    <%= f.number_field :numeroBultos %>
  </div>

  <div class="field">
    <%= f.label :tara %>
    <%= f.text_field :tara %>
  </div>

  <div class="field">
    <%= f.label :kilogramosNetos %>
    <%= f.text_field :kilogramosNetos %>
  </div>

  <div class="field">
    <%= f.label :humedad %>
    <%= f.text_field :humedad %>
  </div>

  <div class="field">
    <%= f.label :tipoCafe %>
    <%= f.text_field :tipoCafe %>
  </div>

  <div class="field">
    <%= f.label :calidadCafe %>
    <%= f.text_field :calidadCafe %>
  </div>

  <div class="field">
    <%= f.label :client_id %>
    <%= f.text_field :client_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
