<table class="table table-striped">
    <tbody>        
        <tr>
            <td><strong><%= t('.calidad_cafe') %></strong></td>
            <td><%= partida.calidad_cafe %></td>
        </tr>
        <tr>
            <td><strong><%=  t('.tipo_cafe') %></strong></td>
            <td><%= partida.type_coffee.name %></td>
        </tr>                              
        <tr>
            <td><strong><%= t('.humedad') %></strong></td>
            <td><%= "#{number_with_precision(partida.humedad, precision: 2)} %" %></td>
        </tr>
        <tr>
            <td><strong><%= t('.sacos') %></strong></td>
            <td>
              <div class="row">
                <div class="col-sm-3">
                  <%= "#{partida.numero_sacos} Sacos" %>
                </div>
                <div class="col-sm-9">
                  <div class="card"> 
                    <div class="front"> 
                        <a class="btn btn-ghost btn-green btn-sm btn-rounded salida-proceso">
                            <i class="fa fa-adjust"></i>
                            Salida a proceso
                        </a>                        
                    </div> 
                    <div class="back">
                        <%= render 'partidas/form_sacos_salidas', partida: partida %>
                    </div> 
                  </div>
                </div>
              </div>
            </td>
        </tr>
        <tr>
            <td><strong><%= t('.bolsas') %></strong></td>
            <td>
               <div class="row">
                <div class="col-sm-3">  
                  <%= "#{partida.numero_bolsas} Bolsas" %>
                </div>
                <div class="col-sm-9">
                  <div class="card"> 
                    <div class="front"> 
                        <a class="btn btn-ghost btn-green btn-sm btn-rounded salida-proceso">
                            <i class="fa fa-adjust"></i>
                            Salida a proceso
                        </a>                        
                    </div> 
                    <div class="back">
                      <%= render 'partidas/form_bolsas_salidas', partida: partida %>
                    </div> 
                  </div>
                </div>
              </div>
            </td>
        </tr>
        <tr>
            <td><strong><%=  t('.kilogramos_brutos') %></strong></td>
            <td><%= "#{number_with_precision(partida.kilogramos_brutos, precision: 2)} Kgs" %></td>
        </tr>                              
        <tr>
            <td><strong><%=  t('.tara') %></strong></td>
            <td><%= "#{number_with_precision(partida.tara, precision: 2)} Kgs" %></td>
        </tr>                              
        <tr>
            <td><strong><%=  t('.kilogramos_netos') %></strong></td>
            <td><%= "#{number_with_precision(partida.kilogramos_netos, precision: 2)} Kgs" %></td>
        </tr>                              
        <tr>
            <td><strong><%=  t('.observaciones') %></strong></td>
            <td><%= partida.observaciones %></td>
        </tr>                              
    </tbody>
</table>