<table class="table table-striped">
    <tbody>        
        <tr>
            <td><strong><%= t('.calidad_cafe') %></strong></td>
            <td><%= partida.calidad_cafe %></td>
        </tr>
        <tr>
            <td><strong><%=  t('.tipo_cafe') %></strong></td>
            <td><%= partida.type_coffee.name %></td>
        </tr>                              
        <tr>
            <td><strong><%= t('.humedad') %></strong></td>
            <td><%= "#{number_with_precision(partida.humedad, precision: 2)} %" %></td>
        </tr>
        <tr>
            <td><strong><%= t('.sacos') %></strong></td>
            <td>
              <div class="row">
                  <div class="col-sm-12">
                      <span>+ <%= "#{partida.numero_sacos} Sacos" %></span>
                  </div>
                  <div class="col-sm-12">
                      <span class="totales_salidas_proceso" 
                            title="Sacos que han salido a proceso.">
                          - <%= "#{partida.total_sacos_a_proceso} Sacos" %>
                      </span>
                  </div>
                  <div class="col-sm-12">
                      <span class="totales_disponibles" 
                            title="Sacos disponibles.">
                          = <%= "#{partida.total_sacos_disponibles} Sacos" %>
                      </span>
                  </div>
                                
              </div>
            </td>
        </tr>
        <tr>
            <td><strong><%= t('.bolsas') %></strong></td>
            <td>
               <div class="row">
                   <div class="col-sm-12">
                       <span>+ <%= "#{partida.numero_bolsas} Bolsas" %></span>
                   </div>
                   <div class="col-sm-12">
                       <span class="totales_salidas_proceso" 
                             title="Bolsas que han salido a proceso.">
                           - <%= "#{partida.total_bolsas_a_proceso} Bolsas" %>
                       </span>
                   </div>
                   <div class="col-sm-12">
                       <span class="totales_disponibles" title="Bolsas disponibles.">
                           = <%= "#{partida.total_bolsas_disponibles} Bolsas" %>
                       </span>
                   </div>                                  
              </div>
            </td>
        </tr>
        <tr>
            <td><strong><%=  t('.kilogramos_brutos') %></strong></td>
            <td><%= "#{number_with_precision(partida.kilogramos_brutos, precision: 2)} Kgs" %></td>
        </tr>                              
        <tr>
            <td><strong><%=  t('.tara') %></strong></td>
            <td><%= "#{number_with_precision(partida.tara, precision: 2)} Kgs" %></td>
        </tr>                              
        <tr>
            <td><strong><%=  t('.kilogramos_netos') %></strong></td>
            <td>
              <div class="row">
                <div class="col-sm-4">  
                    <div class="row">
                        <div class="col-sm-12">
                            <span>
                                + <%= "#{number_with_precision(partida.kilogramos_netos, precision: 2)} Kgs" %>
                            </span>                          
                        </div>
                        <div class="col-sm-12">
                            <span class="totales_salidas_proceso" 
                                  title="Kilogramos que han salido a proceso.">
                                - <%= "#{number_with_precision(partida.total_kilos_netos_a_proceso, precision: 2)} Kgs" %>
                            </span>                          
                        </div>
                        <div class="col-sm-12">
                            <span class="totales_disponibles" 
                                  title="Kilogramos disponibles.">
                                = <%= "#{number_with_precision(partida.total_kilos_netos_disponibles, precision: 2)} Kgs" %>
                            </span>                          
                        </div>
                      
                    </div>
                </div>  
                <% if controller_name.eql?('clients') %>
                  <div class="col-sm-8">
                    <div class="card"> 
                      <div class="front"> 
                          <a class="btn btn-ghost btn-green btn-sm btn-rounded salida-proceso">
                              <i class="fa fa-adjust"></i>
                              Salida a proceso
                          </a>                        
                      </div> 
                      <div class="back" style="display: none">
                        <%= render 'partidas/form_kilogramos_netos_salidas', 
                          partida: partida, line_item_salida: @line_item_salida %>
                      </div> 
                    </div>
                  </div>
                <% end %>
              </div>
            </td>
        </tr>                              
        <tr>
            <td><strong><%=  t('.observaciones') %></strong></td>
            <td><%= partida.observaciones %></td>
        </tr>                              
    </tbody>
</table>