<p id="notice"><%= notice %></p>

<p>
  <strong>Entrada:</strong>
  <%= @partida.entrada %>
</p>

<p>
  <strong>Kilogramosbrutos:</strong>
  <%= @partida.kilogramosBrutos %>
</p>

<p>
  <strong>Numerobultos:</strong>
  <%= @partida.numeroBultos %>
</p>

<p>
  <strong>Tara:</strong>
  <%= @partida.tara %>
</p>

<p>
  <strong>Kilogramosnetos:</strong>
  <%= @partida.kilogramosNetos %>
</p>

<p>
  <strong>Humedad:</strong>
  <%= @partida.humedad %>
</p>

<p>
  <strong>Tipocafe:</strong>
  <%= @partida.tipoCafe %>
</p>

<p>
  <strong>Calidadcafe:</strong>
  <%= @partida.calidadCafe %>
</p>

<p>
  <strong>Client:</strong>
  <%= @partida.client %>
</p>

<%= link_to 'Edit', edit_partida_path(@partida) %> |
<%= link_to 'Back', partidas_path %>
