<% unless cart_salida_proceso.line_item_salida_procesos.empty? %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-shopping-cart">
      <p class="text-center text-uppercase">Salidas a Proceso</p>
      <table class="table">
        <%= render "cart_salidas/head_table" %>
        <tbody>
          <%= render cart_salida_proceso.line_item_salida_procesos.order("id DESC") %>
        </tbody>
        <tbody>
          <%= render "cart_salidas/body_table", cart: cart_salida_proceso %>
        </tbody>
      </table>
      <div class="panel-footer">
        <div class="row">
          <%= render "cart_salidas/footer", cart: cart_salida_proceso %>
      
          <div class="col-sm-4 text-right">
            <%= button_to 'Registrar Salida', salida_procesos_path, id: 'realizar-salida-proceso-input',
                class: 'btn btn-primary bt-sm' %>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
