<tr>              
  <td>
    <span class="title">
      <%=padded_zeros_numero_entrada(line_item_salida_proceso.partida.entrada.numero_entrada) %>
    </span>
  </td>
  <td>
    <span class="title"><%=padded_zeros_numero_entrada(line_item_salida_proceso.partida.identificador) %></span>
  </td>
  <td>
    <span class="title tipo_cafe_salida"><%=line_item_salida_proceso.partida.type_coffee.name %></span>
  </td>
  <td>
    <span class="title"><%="#{line_item_salida_proceso.total_sacos} Sacos" %></span>
  </td>
  <td>
    <span><%="#{line_item_salida_proceso.total_bolsas} Bolsas " %></span>
  </td>  
  <td>
    <span><%="#{number_with_precision(line_item_salida_proceso.total_kilogramos_netos, precision: 2)} Kgs" %></span>
  </td>
</tr>