<div class="row">
    <div class='col-sm-12'>
        <h1 class='title-md hr text-center text-uppercase'>
          <%= t('.title') %>
        </h1>
    </div>
</div>

<div class="row mt-20 mb-30">
    <div class="col-sm-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-shop" role="tablist">
            <li class="active">
                <a href="#specifications" role="tab" data-toggle="tab">Información Personal</a>
            </li>
            <li>
                <a href="#comments" role="tab" data-toggle="tab">Entradas <span class="badge"><%= @client.total_entradas %></span></a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content tab-content-shop">
            <div class="tab-pane fade in active tab-shop-item" id="specifications">
                <%= render @client %>
            </div>
            <div class="tab-pane fade tab-shop-item" id="comments">
                <div class="row-code div-info-entrada">
                  <div class="row row-pills row-pills-left" role="tabpanel">                      
                    <div class="col-md-2">
                      <ul class="nav nav-pills nav-stacked" role="tablist">
                          <% @client.entradas.validas.numero_entrada_ascendente.each_with_index do |entrada, index| %>
                            <% if index.zero? %>
                              <li role="presentation" class="active">
                            <% else %>
                              <li role="presentation">
                            <% end %>
                                <a href="#entrada<%= entrada.id %>" 
                                   aria-controls="entrada<%= entrada.id%>" role="tab" 
                                   data-toggle="tab" data-entrada-index="<%= index %>">
                                    <%= "Entrada - #{padded_zeros_numero_entrada(entrada.numero_entrada)}" %>
                                </a>
                            </li>
                          <% end %>                      
                      </ul>
                    </div>
                    <div class="col-md-10">
                      <div class="tab-content">
                          <% @client.entradas.validas.numero_entrada_ascendente.each_with_index do |entrada, index| %>
                            <% if index.zero? %>
                              <%= render 'entradas/link_options_show', entrada: entrada %>
                            <div role="tabpanel" class="tab-pane fade in active" id="entrada<%= entrada.id %>">
                            <% else %>
                            <div role="tabpanel" class="tab-pane fade in" id="entrada<%= entrada.id %>">
                            <% end %>
                              <%= render entrada %>
                            </div>
                          <% end %>                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
