<div class="row">
    <div class='col-sm-6'><h1 class='title-show'><%= t('.title') %></h1></div>
    <div class='col-sm-6'>
      <div class="pull-right">
        <%= link_to t('.edit_link'), edit_client_path(@client), class: "btn btn-default" %>
        <%= link_to t('.delete_link'), @client, method: :delete, class: "btn btn-default", data: {confirm: '¿Está usted seguro?'} %>
        <%= link_to t('.back_link'), clients_path, class: "btn btn-default" %>
      </div>         
    </div>
</div>

<ul class='list-group cliente-info-list'>
    <%= render 'attributes', title1: t('.formal_name'), value1: @client.formal_name,
      title2: t('.address'), value2: @client.address %>             
    
    <%= render 'attributes', title1: t('.organization'), value1: @client.organization,
      title2: t('.created_at'), value2: l(@client.created_at, format: :medium)%>             
           
    <%= render 'attributes', title1: t('.updated_at'), value1: l(@client.updated_at, format: :medium),
      title2: nil, value2: nil%>             
</ul>