<%= simple_form_for(@line_item_salida) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :partida %>
    <%= f.association :cart_salida %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
