<p id="notice"><%= notice %></p>

<h1>Line Item Salidas</h1>

<table>
  <thead>
    <tr>
      <th>Partida</th>
      <th>Cart salida</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @line_item_salidas.each do |line_item_salida| %>
      <tr>
        <td><%= line_item_salida.partida %></td>
        <td><%= line_item_salida.cart_salida %></td>
        <td><%= link_to 'Show', line_item_salida %></td>
        <td><%= link_to 'Edit', edit_line_item_salida_path(line_item_salida) %></td>
        <td><%= link_to 'Destroy', line_item_salida, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Line Item Salida', new_line_item_salida_path %>
