<p id="notice"><%= notice %></p>

<p>
  <strong>Partida:</strong>
  <%= @line_item_salida.partida %>
</p>

<p>
  <strong>Cart salida:</strong>
  <%= @line_item_salida.cart_salida %>
</p>

<%= link_to 'Edit', edit_line_item_salida_path(@line_item_salida) %> |
<%= link_to 'Back', line_item_salidas_path %>
