<div class="row">
    <div class='col-sm-6'><h1 class='title-show'><%= t('.title') %></h1></div>
    <div class='col-sm-6'>
      <div class="pull-right">
        <%= link_to t('.edit_link'), edit_entrada_path(@entrada), class: "btn btn-default" %>
        <%= link_to t('.delete_link'), @entrada, method: :delete, class: "btn btn-default", data: {confirm: '¿Está usted seguro?'} %>
        <%= link_to t('.back_link'), entradas_path, class: "btn btn-default" %>
      </div>         
    </div>
</div>

<ul class='list-group entrada-info-list'>
    <%= render 'attributes', title1: t('.numero_entrada'), 
      value1: padded_zeros_numero_entrada(@entrada.numero_entrada),
      title2: t('.date'), value2: l(@entrada.date, format: :medium_date)%>             
    
    <%= render 'attributes', title1: t('.entregado_por'), 
      value1: @entrada.entregado_por, title2: t('.driver'), value2: @entrada.driver %>             
    
    <%= render 'attributes', title1: t('.created_at'), 
      value1: l(@entrada.created_at, format: :medium), title2: t('.updated_at'), 
      value2: l(@entrada.updated_at, format: :medium) %>   
    
    <%= render 'attributes', title1: t('.total_partidas'), 
      value1: @entrada.total_partidas, title2: nil, 
      value2: nil %>   
    
</ul>

<h2>
  <%= t('.partidas_title') %>
  <span class="badge badge-partidas"><%= @entrada.total_partidas %></span>
</h2>

<%= render @entrada.partidas.order('identificador ASC') %>