<div class="row">
    <div class='col-sm-6'><h1 class='title-show'><%= t('.title') %></h1></div>
    <div class='col-sm-6'>
      <div class="pull-right">
        <%= link_to t('.edit_link'), edit_entrada_path(@entrada), class: "btn btn-default" %>
        <%= link_to t('.delete_link'), @entrada, method: :delete, class: "btn btn-default", data: {confirm: '¿Está usted seguro?'} %>
        <%= link_to t('.back_link'), entradas_path, class: "btn btn-default" %>
      </div>         
    </div>
</div>

<ul class='list-group entrada-info-list'>
    <%= render 'attributes', title: t('.numero_entrada'), value: padded_zeros_numero_entrada(@entrada.numero_entrada) %>             
    <%= render 'attributes', title: t('.date'), value: l(@entrada.date, format: :medium) %>             
    <%= render 'attributes', title: t('.entregado_por'), value: @entrada.entregado_por %>             
    <%= render 'attributes', title: t('.driver'), value: @entrada.driver %>             
    <%= render 'attributes', title: t('.created_at'), value: l(@entrada.created_at, format: :medium) %>             
    <%= render 'attributes', title: t('.updated_at'), value: l(@entrada.updated_at, format: :medium) %>                       
</ul>

<h2><%= t('.partidas_title') %></h2>

<%= render @entrada.partidas %>