<div class="col-sm-12 btn-group">
  <%= link_to salida_procesos_path, class: "btn btn-ghost btn-gray pull-right" do %>        
    <i class="fa fa-mail-reply" aria-hidden="true"></i>                                      
    <%= t('salidas.back_link_proceso') %>
  <% end %>  
  <%= link_to new_process_result_path(id_salida_proceso: salida_proceso), class: "btn btn-ghost btn-blue pull-right" do %>   
    <i class="fa fa-plus-square"  aria-hidden="true"></i>
    <%= t('salidas.new_process_result_link') %>
  <% end %>
  <%= link_to reporte_salida_proceso_path(salida_proceso), class: "btn btn-ghost btn-sea pull-right", target: '_blank' do %>
    <i class="fa fa-file-pdf-o"  aria-hidden="true"></i>
    <%= t('salidas.show.print_report_link') %>
  <% end %>  
    
    
</div>