<div class="row">
    <div class='col-sm-12'><h1 class='title-md hr text-center text-uppercase'><%= t('.title') %></h1></div>
</div>

<hr class="hr-divider-xs"></hr>

<% if @salida_procesos.blank? %>
    <p class='lead'>Aún no tienes salidas registradas.</p>    
<% else %>        
    <div class="table-responsive">
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr scope="row">
            <th><%= t('.salida_proceso.organization') %></th>
            <th><%= t('.salida_proceso.tipo_cafe') %></th>
            <th><%= t('.salida_proceso.total_sacos') %></th>
            <th><%= t('.salida_proceso.total_bolsas') %></th>          
            <th><%= t('.salida_proceso.total_kilogramos_netos') %></th>          
            <th><%= t('.salida_proceso.created_at') %></th>
          
            <th colspan="3"><%= t('.salida_proceso.options') %></th>
          </tr>
        </thead>
        <tbody>
          <% @salida_procesos.each_with_index do |salida_proceso, index| %>
          <tr>
            <td><%= salida_proceso.client.organization %></td>
            <td><%= salida_proceso.tipo_cafe %></td>
            <td><%= salida_proceso.total_sacos %></td>
            <td><%= salida_proceso.total_bolsas %></td>
            <td><%= salida_proceso.total_kilogramos_netos %></td>
            <td><%= l salida_proceso.created_at, format: :medium_date %></td>
            <td>
                <%= link_to salida_proceso do %>
                  <i class="fa fa-eye" aria-hidden="true"></i>                    
                <% end %>
            </td>              
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
<% end %>