<%= simple_form_for process_result, html: { class: 'form-vertical' },  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean,
    date: :multi_select_horizontal,
    datetime: :multi_select_horizontal
  } do |f| %>
    
<br/>

<%= f.error_notification %>    

<%= f.input :salida_proceso_id, as: :hidden, value: process_result.salida_proceso_id %>

<div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label for="basic-url">No. RESULTADO DE PROCESO:</label>        
        <input type="text" class="form-control" 
               value="<%= padded_zeros_numero_entrada(process_result.salida_proceso.numero_salida) %>"
               readonly>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="basic-url">TIPO DE CAFÉ:</label>        
        <input type="text" class="form-control" 
               value="<%= process_result.salida_proceso.tipo_cafe %>"
               readonly>
      </div>      
    </div>
    <div class="col-sm-4">
        <%= f.input :date, wrapper: :vertical_input_group do %>
            <span class="input-group-addon text-info">
                <span class="glyphicon glyphicon-calendar text-info"></span>                  
            </span>
            <%= f.input_field :date, as: :string, class: "form-control", readonly: true %>      
        <% end %>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label>CLIENTE:</label>        
        <input type="text" class="form-control" 
               value="<%= process_result.salida_proceso.client.legal_representative %>"
               readonly>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <%= f.input :rango_lote, wrapper: :vertical_input_group %>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="basic-url">No. ORDEN DE PROCESO:</label>        
        <input type="text" class="form-control" 
               value="<%= padded_zeros_numero_entrada(process_result.salida_proceso.numero_salida) %>"
               readonly>
      </div>
    </div> 
</div>

<div class="row">
    <div class="col-sm-4">
      <%= f.input :fecha_inicio, wrapper: :vertical_input_group do %>
            <span class="input-group-addon text-info">
                <span class="glyphicon glyphicon-calendar text-info"></span>                  
            </span>
            <%= f.input_field :fecha_inicio, as: :string, class: "form-control", readonly: true %>      
        <% end %>
    </div>
    <div class="col-sm-4">
      <%= f.input :fecha_termino, wrapper: :vertical_input_group do %>
            <span class="input-group-addon text-info">
                <span class="glyphicon glyphicon-calendar text-info"></span>                  
            </span>
            <%= f.input_field :fecha_termino, as: :string, class: "form-control", readonly: true %>      
        <% end %>
    </div>      
    <div class="col-sm-4">
        <div class="form-group">
          <label>KGS A PROCESAR:</label>        
          <input type="text" class="form-control" id="total-pergamino"
               value="<%= process_result.salida_proceso.total_kilogramos_netos %>"
               readonly>
        </div>
    </div>  
</div>

<div class="row">
    <div class="col-sm-4">
      <%= f.input :humedad, wrapper: :vertical_input_group %>
    </div>
    <div class="col-sm-4">
      <%= f.input :hora_inicio, wrapper: :vertical_input_group do %>
            <span class="input-group-addon text-info">
                <span class="glyphicon glyphicon-time text-info"></span>                  
            </span>
            <%= f.input_field :hora_inicio, as: :string, class: "form-control", readonly: true %>      
        <% end %>
    </div>
    <div class="col-sm-4">
      <%= f.input :hora_termino, wrapper: :vertical_input_group do %>
            <span class="input-group-addon text-info">
                <span class="glyphicon glyphicon-time text-info"></span>                  
            </span>
            <%= f.input_field :hora_termino, as: :string, class: "form-control", readonly: true %>      
        <% end %>
    </div>
</div>

<%#*Calidades Inicio%>

<br/>

<%= render "headers_table_qualities" %>

<div id='qualities'>          
    <%= f.simple_fields_for :qualities do |quality| %>
      <%= render 'quality_fields', f: quality %>
    <% end %>    
</div>

<%= render "totales_qualities", f: f %>

<%#*Calidades Fin%>

<div class="row">
    
    <div class="col-sm-6">
      <%= f.input :rendimiento, readonly: true %>      
    </div>
    
    <div class="col-sm-6">
      <%= f.input :observaciones %>            
    </div>
</div>

 <div class="row">
      <div class="col-sm-9 col-sm-offset-3">
         <%= button_tag(type: :submit, class: 'btn btn-primary') do %>
        <i class="fa fa-check" aria-hidden="true"></i>    
        <%= value_button_submit f.object %>
      <% end %>
        <%= link_to entradas_path, role: 'button', class: 'btn btn-default' do %> 
        <i class="fa fa-remove" aria-hidden="true"></i> 
        Cancelar
      <% end %> 
      </div>    
    </div>  


<% end %>