<div class="row">
  <div class='col-sm-12'>
      <h1 class='title-md hr text-center text-uppercase'><%= t('.title') %></h1>
  </div>
</div>

<div class="row">
<% if @process_results.blank? %>
    <p class='lead'>Aún no tienes resultados de salida a procesos registrados.</p>    
<% else %>            
    <div class="table-responsive">
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr scope="row">
            <th><%= t('.process_results.salida_proceso') %></th>
            <th><%= t('.process_results.date') %></th>
            <th><%= t('.process_results.rango_lote') %></th>
            <th><%= t('.process_results.fecha_inicio') %></th>
            <th><%= t('.process_results.fecha_termino') %></th>

            <th colspan="3"><%= t('.process_results.options') %></th>
          </tr>
        </thead>
        <tbody>
          <% @process_results.each_with_index do |p_r, index| %>
            <tr>
              <td><%= padded_zeros_numero_entrada(p_r.salida_proceso.numero_salida) %></td>
              <td><%= p_r.date %></td>
              <td><%= p_r.rango_lote %></td>
              <td><%= p_r.fecha_inicio %></td>
              <td><%= p_r.fecha_termino %></td>              
              <td>
                <%= link_to p_r do %>
                  <i class="fa fa-eye" aria-hidden="true"></i>                    
                <% end %>
              </td>
              <td>
                <%= link_to edit_process_result_path(p_r) do %>
                  <i class="fa fa-pencil" aria-hidden="true"></i>                    
                <% end %>              </td>  
              <td>
                <%= link_to p_r, method: :delete, data: { confirm: '¿Está usted seguro?' } do %>
                  <i class="fa fa-remove" aria-hidden="true"></i>                                      
                <% end %>
              </td>        
            </tr>
          <% end %>
        </tbody>
      </table>  
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
          <%= paginate @process_results %>          
        </div>        
    </div>
<% end %>
</div>