<!DOCTYPE html>
<html>
  <head>
    <title>Creditos</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body ng-app="myApp">
    <%#= current_user[:email] %>        
    <%#= link_to "Logout", destroy_user_session_path, method: :delete %>
  
    <%= render 'shared/header' %>

    <div class="container">     
      <%= render("shared/messages_flash") %>
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  
  </body>
</html>
 